.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
}
.murphy-background{
  background-image: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 500px;
  background-size:cover;
  height:200px;
  color: white;
  
}